.projects {
  background: #dbdbdb;
  padding: 100px var(--rtc-padding-s);
  display: flex;
  justify-content: space-around;
  text-align: center;
  align-items: center;
  gap: 20px;
}

.projects img {
  width: 300px;
  height: 300px;
  padding-bottom: var(--rtc-padding-s);
}

.projects img:hover {
  cursor: pointer;
}

/*Responsive projects*/

@media screen and (max-width: 1260px) {
  .projects {
    flex-direction: column;
  }
}
